landing_page/assets/css/*
.sass-cache/
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Python
*.pyc

# Benchmark files
benchmark_results
virtualenv-plots

# Compiled Doxygen documentation
/doxygen/html

# Waf files
waf-*
waf3-*
.waf-*
.waf3-*
build
build_current
resolve_symlinks
resolved_dependencies
*.sh
virtualenv-plots

# Gnu Global tag files
GPATH
GRTAGS
GSYMS
GTAGS

# Emacs temp / auto save
\#*#
*.#*
*~

#Eclipse ignore
.cproject
*.project
.metadata
local.properties
.classpath
.settings/

# Visual Studio ignore
*.bat
*.sln
*.suo
*.user
*.ncb
*.sdf
*.opensdf
*.log
*.vcxproj*
VSProjects
.vscode

# Benchmark output
figures_database
figures_database_detailed
figures_local

# General
docs/.doctrees
docs/.ipynb_checkpoints

virtualenv-plots
